body {
  background-image: url(./noteLogo.png);
  background-position: 3% 0;
  background-repeat: no-repeat;
  background-size: 180px;
}

.App {
  display: flex;
}

.preview-section {
  height: 600px;
  overflow: auto;
}

.notes-section {
  position: relative;
  width: 25%;
  background-color: #5039BF;
}

.preview-section {
  position: relative;
  width: 75%;
  padding: 10px 75px;
  box-sizing: border-box;
}

.add-btn {
  position: absolute;
  right: -21px;
  top: 50%;
  width: 45px;
  height: 45px;
  line-height: 28px;
  background-color: #c82333;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  border: 0;
  cursor: pointer;
  color: #fff;
  outline: 0;
  z-index: 10;
  transform: translateY(-50%);
}

.notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-item {
  cursor: pointer;
  padding: 12px 10px;
  font-size: 15px;
  color: #fff;
  border-bottom: 0.5px solid #fff;
}

.note-item.active {
  background-color: #573d7d;
}

.form-input {
  display: block;
  width: 100%;
  padding: .700rem .75rem;
  font-size: 1rem;
  font-family: cairo;
  line-height: 1.5;
  color: #000000;
  background-color: #d6acf5;
  background-clip: padding-box;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.form-input:focus {
  outline: none;
}


/*******************************************/
/************************************/
.note-operations {
  position: absolute;
  right: 10%;
  top: 6%;
  display: flex;
  justify-content: space-between;
  width: 60px;
  font-size: 20px;
}

.note-operations a {
  color: #ffffff;
}

.button {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 5px 60px;
  font-size: 20px;
}

.purple {
  background: #5039BF;
  transition: 300ms;
  border: 3px solid #4f39bf00;

}

.purple:hover {
  background: #CC83FF;
  border: 3px solid #5039BF;
  color: #000000;
}

.center {
  text-align: center;
}

.alert-container {
  position: fixed;
  right: 5px;
  top: 5px;
  background: #f43a4c;
  min-width: 250px;
  border-radius: 5px;
  transition: all 0.3s;
}
.alert-container:hover{
  cursor: pointer;
  user-select: none;
  background-color: #f43a4dad;
}

.alert-container ul {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 600px) {
  .notes-section {
    width: 30%;
  }

  .preview-section {
    width: 70%;
    padding: 10px 30px;
  }
}